<div class="card" style="margin-top: 2%;">
    <p-tabView>
        <p-tabPanel header="Reporte General" [selected]="true">
            <p-toolbar styleClass="gap-2 mt-5" [style]="{ 'background-color': 'rgb(31 63 111)' }">

                <h4 class="font-medium text-surface-950 dark:text-surface-0 text-xl">Reporte Diario / Mensual</h4>
            </p-toolbar>
            <div class="row mt-5">
                <div class="col-sm-12 ">

                    <p for="staticEmail" class="col-sm-12 col-form-label mt-5"> <b>Fecha:</b></p>
                    <div class="col-sm-12">

                        <p-calendar [(ngModel)]="selectedRange" [selectionMode]="'range'" [numberOfMonths]="2"
                            class="date-range" [showButtonBar]="true" [showWeek]="false" [touchUI]="false"
                            placeholder="Selecciona un rango" (onSelect)="handleCalendarBlur()"
                            [style]="{ width: '300px' }">
                        </p-calendar>
                    </div>
                </div>
            </div>
            <div>
                <p-table stripedRows #dt
                    [styleClass]="'table-sm mt-5 p-datatable-sm p-datatable-gridlines table-bordered p-datatable-striped ml-3'"
                    columnResizeMode="expand" [value]="Clients" rowGroupMode="rowspan" [rows]="10" [paginator]="true"
                    [tableStyle]="{ 'min-width': '5rem' }" [rowHover]="true" dataKey="idpedido"
                    [resizableColumns]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <td style="width:5%" pSortableColumn="fecha" style="min-width:6rem">📅Fecha
                                <p-sortIcon field="fecha" />
                            </td>
                            <th pSortableColumn="dia" style="min-width:15rem" style="min-width:3rem">📅Dia
                                <p-sortIcon field="dia" />
                            </th>
                            <th style="width:5%" pSortableColumn="efectivo" style="min-width:3rem">💵Efectivo
                                <p-sortIcon field="efectivo" />
                            </th>
                            <th pSortableColumn="yape" style="min-width:3rem">📱Yape
                                <p-sortIcon field="yape" />
                            </th>
                            <th pSortableColumn="plin" style="min-width:3rem">📱Plin
                                <p-sortIcon field="plin" />
                            </th>
                            <th pSortableColumn="visa" style="min-width:3rem">💳Visa
                                <p-sortIcon field="visa" />
                            </th>
                            <th pSortableColumn="total" style="min-width:15rem">Total
                                <p-sortIcon field="total" />
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.fecha}}</td>
                            <td>{{ product.dia }}</td>
                            <td>{{'S/'+ product.efectivo }}</td>
                            <td>{{ 'S/'+ product.yape }}</td>
                            <td>{{ 'S/'+ product.plin }}</td>
                            <td>{{ 'S/'+ product.visa }}</td>
                            <td>{{ 'S/'+product.total }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="Clients.length != 0" style="font-weight: bold;">
                            <td colspan="2">
                                <h4>Total General</h4>
                            </td>
                            <td>
                                <h4> {{ 'S/'+array_data_total[0]?.efectivo }}</h4>
                            </td>
                            <td>
                                <h4>{{'S/'+ array_data_total[0]?.yape }}</h4>
                            </td>
                            <td>
                                <h4>{{'S/'+ array_data_total[0]?.plin }}</h4>
                            </td>
                            <td>
                                <h4>{{'S/'+ array_data_total[0]?.visa }}</h4>
                            </td>
                            <td>
                                <h4>{{'S/'+ array_data_total[0]?.total }}</h4>
                            </td>
                        </tr>
                        <tr *ngIf="Clients.length == 0">
                            <td colspan="7" style="text-align: center;">No existe información o seleccione el rango con
                                las fechas</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <!-- <p-confirmDialog [style]="{ width: '450px' }" /> -->
        </p-tabPanel>
        <p-tabPanel header="Reporte Detallado">
            <p-toolbar styleClass="gap-2 mt-5" [style]="{ 'background-color': 'rgb(31 63 111)' }">

                <h4 class="font-medium text-surface-950 dark:text-surface-0 text-xl">Reporte Detallado Diario</h4>
            </p-toolbar>
            <div class="row mt-5">
                <div class="col-sm-12 ">

                    <p for="staticEmail" class="col-sm-12 col-form-label mt-5"> <b>Fecha:</b></p>
                    <div class="col-sm-12">
                        <p-calendar [(ngModel)]="selectedRange2" placeholder="Selecciona una fecha"
                            (onSelect)="DayCalendarBlur()" [style]="{ width: '300px' }">
                        </p-calendar>

                    </div>
                </div>
            </div>
            <div>
                <p-table stripedRows #dt
                    [styleClass]="'table-sm mt-5 p-datatable-sm p-datatable-gridlines table-bordered p-datatable-striped ml-3'"
                    columnResizeMode="expand" [value]="PedidoReporte" rowGroupMode="rowspan" [rows]="10"
                    [paginator]="true" [tableStyle]="{ 'min-width': '5rem' }" [rowHover]="true" dataKey="idpedido"
                    [resizableColumns]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <td style="width:5%" pSortableColumn="fecha" style="min-width:6rem">Fecha
                                <p-sortIcon field="fecha" />
                            </td>
                            <th pSortableColumn="dia" style="min-width:15rem" style="min-width:3rem">Dia
                                <p-sortIcon field="dia" />
                            </th>
                            <td style="width:5%" pSortableColumn="mesa" style="min-width:6rem">Mesa
                                <p-sortIcon field="mesa" />
                            </td>
                            <th pSortableColumn="hora" style="min-width:3rem" style="min-width:3rem">Hora
                                <p-sortIcon field="hora" />
                            </th>
                            <th pSortableColumn="total_pedidos" style="min-width:3rem">Total Pedidos
                                <p-sortIcon field="total_pedidos" />
                            </th>

                            <th style="width:5%" pSortableColumn="efectivo" style="min-width:3rem">💵Efectivo
                                <p-sortIcon field="efectivo" />
                            </th>
                            <th pSortableColumn="yape" style="min-width:3rem">📱Yape
                                <p-sortIcon field="yape" />
                            </th>
                            <th pSortableColumn="plin" style="min-width:3rem">📱Plin
                                <p-sortIcon field="plin" />
                            </th>
                            <th pSortableColumn="visa" style="min-width:3rem">💳Visa
                                <p-sortIcon field="visa" />
                            </th>
                            <th pSortableColumn="total" style="min-width:3rem">Total
                                <p-sortIcon field="total" />
                            </th>
                            <th>

                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ product.fecha}}</td>
                            <td>{{ product.dia }}</td>
                            <td>{{ product.mesa}}</td>
                            <td>{{ product.hora }}</td>
                            <td>{{ product.total_pedidos }}</td>
                            <td>{{'S/'+ product.efectivo }}</td>
                            <td>{{ 'S/'+ product.yape }}</td>
                            <td>{{ 'S/'+ product.plin }}</td>
                            <td>{{ 'S/'+ product.visa }}</td>
                            <td>{{ 'S/'+product.total }}</td>
                            <td><p-button icon="pi pi-file-pdf" class="p-button-rounded p-button-outlined"
                                    styleClass="p-button-sm" aria-label="Exportar PDF"></p-button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <!-- <p-confirmDialog [style]="{ width: '450px' }" /> -->
        </p-tabPanel>
    </p-tabView>
</div>
