<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
</style>
<p-toast styleClass="text-2xl" />
<div class="loader" *ngIf="isLoading">
    <div class="spinner"></div>
    <br>
    <p>Cargando...</p>
</div>


<div class="card">
    <div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white md:max-w-2xl" style="max-width: 100%;">
        <!-- IZQUIERDA: MESAS -->
        <div class="md:flex">
            <p-tabView class="p-tablist">
                <p-tabPanel header="Mesas" [selected]="true">
                    <div class="mesas md:shrink-0">
                        <div class="grid" style="margin-left: 10px;">
                            <ng-container *ngFor="let mesa of mesas">
                                <div class="mesa" (click)="seleccionarMesa(mesa)" *ngIf="mesa.numero != '0'" [ngClass]="{
                                  'seleccionada': mesaSeleccionada?.numero === mesa.numero
                                }">
                                    <div class="estado" [ngClass]="{
                                  'ocupada': estadomesa[+mesa.numero].value.toString() === '1',
                                  'libre': estadomesa[+mesa.numero].value.toString() === '0'
                                }"></div>
                                    <div class="texto">Mesa Nº{{ mesa.numero }}</div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Delivery">
                    <div class="text-right">
                        <p-button [label]="'NUEVO DELIVERY'"
                            (click)="seleccionarMesa({numero: '0', estado: '0', pedidos: []})" severity="info"
                            icon="pi pi-phone" size="large">
                        </p-button>
                    </div>
                    <div class="mesas md:shrink-0" style="width: 706px;display: flex;">
                        <div class="grid">
                            <ng-container
                                *ngFor="let pedido of Pedidos | unique: 'idpedido' | orderBy: 'idpedido':true">
                                <div class="pedido-card" *ngIf="+pedido.mesa === 0 " [ngClass]="{
                                  'seleccionada_delivery': mesaSeleccionada?.idpedido === pedido.idpedido}"
                                    (click)="seleccionarMesa({numero: '0', estado: '0', pedidos: [],idpedido: pedido.idpedido})">
                                    <div class="header">
                                        <div class="numero-pedido">{{ "#"+ pedido.idpedido }}</div>
                                    </div>
                                    <div class="cliente">
                                        <h2>{{ pedido.cliente }}</h2>
                                        <div class="hora">{{ pedido.pedido_hora }}</div>
                                    </div>
                                    <div class="acciones">
                                        <div class="btn btn-editar">Editar</div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                        <!-- <div class="grid" style="margin-left: 10px;">
                            <div class="mesa" (click)="seleccionarMesa({numero: '0', estado: '0', pedidos: []})">
                                <div class="estado" [ngClass]="{
                                  'ocupada': estadomesa[0].value.toString() === '1',
                                  'libre': estadomesa[0].value.toString() === '0'
                                }"></div>
                                <div class="texto">Delivery</div>
                            </div>
                        </div> -->
                    </div>
                </p-tabPanel>

            </p-tabView>




            <!-- CENTRO: DETALLE DE PEDIDOS -->
            <div class="detalle md:shrink-0  ml-auto" *ngIf="pedido_mesa_status">
                <div *ngFor="let numMesa of mesas" style="margin-left: 15px">

                    <div *ngIf="mesaSeleccionada?.numero == numMesa.numero" class="mt-5">
                        <div class="fila_botones">
                            <button (click)="editar(numMesa,NuevoPedido)"> <i
                                    class="material-icons">edit</i>Editar</button>
                            <button (click)="generatePDF(NuevoPedido)"> <i
                                    class="material-icons">description</i>Ticket</button>
                            <button (click)="generateCocinaPDF(NuevoPedido)"><i
                                    class="material-icons">restaurant</i>Cocina</button>
                            <button (click)="CobrarDialog(numMesa)"><i
                                    class="material-icons fa-solid fa-money-bill-wave"></i>Cobrar</button>
                            <button (click)="deletepedidoModal()"><i
                                    class="material-icons fa-solid fa-trash"></i>Cancelar</button>
                        </div>
                        <h2 class="text-red-600  font-bold text-center"> {{ (numMesa.numero == "0" ?'Delivery' :
                            'Pedido de Mesa '+numMesa.numero )
                            }}
                            &nbsp; <p-button icon="pi pi-file-pdf" severity="danger"
                                (onClick)="imprimirpedidodialog(Pedidos)" />
                        </h2>

                        <table class="table-auto w-full   h-auto border-collapse border border-gray-400 text-center">
                            <thead>
                                <tr class="">
                                    <th class="border border-gray-300">Cantidad</th>
                                    <th class="border border-gray-300">Categoria</th>
                                    <th class="border border-gray-300">Pedido</th>
                                    <th class="border border-gray-300">Lugar</th>
                                    <th class="border border-gray-300">Precio U.</th>
                                    <th class="border border-gray-300">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border border-gray-300"
                                    *ngFor="let pedido of getPedidosDeMesa(numMesa.numero,pedido_mesa_status,mesaSeleccionada)">
                                    <td>{{ pedido.cantidad }}</td>
                                    <td>{{ pedido.categoria }}</td>
                                    <td>{{ pedido.nombre }}</td>
                                    <td>{{ pedido.lugarpedido == 1 ? "Llevar":"Mesa" }}</td>
                                    <td>{{ pedido.precioU }}</td>
                                    <td>{{ pedido.cantidad * pedido.precioU }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right font-bold">
                                        <h3>Total</h3>
                                    </td>
                                    <td class="font-bold">
                                        <h3>
                                            {{'S/' +calculateTotalPedidos(numMesa.numero,
                                            pedido_mesa_status,mesaSeleccionada) }}
                                        </h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="my-4 border-gray-300" />
                    </div>
                </div>
            </div>

            <div class="detalle md:shrink-0  ml-auto" *ngIf="!pedido_mesa_status && mesaSeleccionada">
                <div class="flex" style="margin-left: 14px;">
                    <div class="w-14 text-left mt-4 mr-1"
                        *ngIf="NuevoPedido.pedidodetalle.length > 0 && tipomodal == 'Editar'">
                        <p-button (click)="returntoMesas()" severity="info">
                            <i class="fa-solid fa-arrow-left" style="font-size: 35px;cursor: pointer;"></i>
                        </p-button>
                    </div>
                    <div class="w-14 text-left mt-4 ml-6">
                        <p-button (click)="showModal()">
                            <i class="fa-solid fa-calculator" style="font-size: 35px;cursor: pointer;"></i>
                        </p-button>
                    </div>

                    <div class="w-32 flex-auto text-center  ">
                        <h2 class="text-red-600"> {{ (this.mesaSeleccionada.numero == "0" ?'Delivery'
                            :'Pedido de Mesa '+ this.mesaSeleccionada.numero) }}</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="summary">
                        <table class="table-auto w-full   h-auto border-collapse border border-gray-400 text-center">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Llevar</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let pedidosnew of NuevoPedido.pedidodetalle; let i = index">
                                    <tr *ngIf="pedidosnew.total != 0">
                                        <td>
                                            <div style="display: flex; flex-direction: column;">
                                                <span>{{ pedidosnew.nombre }}</span>
                                                <div style="margin-top: 5px; display: flex; flex-wrap: wrap; gap: 5px;">
                                                    @for (topping of pedidosnew.idtopings; track topping.idtopings)
                                                    {
                                                    <p-tag *ngIf="topping.idtopings != 0">
                                                        <div>{{ topping.nombre }}</div>
                                                    </p-tag>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button (click)="incrementnewPedido(pedidosnew)">+</button>
                                            {{ pedidosnew.cantidad }}
                                            <button (click)="decrementnewPedido(pedidosnew)">-</button>
                                        </td>
                                        <td>
                                            <p-toggleSwitch [(ngModel)]="pedidosnew.lugarpedido" [trueValue]="'1'"
                                                [falseValue]="'0'">
                                            </p-toggleSwitch>
                                        </td>
                                        <td>
                                            <input (keypress)="onlyNumberKey($event)" (keyup)="pricechange(pedidosnew)"
                                                type="text" style="width: 50px;" pInputText id="name"
                                                [(ngModel)]="pedidosnew.preciounitario" required autofocus fluid />
                                        </td>
                                        <td>S/ {{ pedidosnew.total }} </td>
                                        <td>
                                            <button (click)="remove(pedidosnew)" class="btn btn-danger"
                                                (click)="trashPedido(pedidosnew)"><i
                                                    class="fa-solid fa-trash"></i></button>
                                        </td>
                                        <td>
                                            <div class="flex flex-wrap gap-2">
                                                <p-button type="button" class="btn btn-danger"
                                                    (click)="toggleDataTable(op2, $event, pedidosnew)">
                                                    <i class="fa-solid fa-gear"></i></p-button>
                                                <p-popover #op2 id="overlay_panel"
                                                    [style]="{ width: '650px',height: '400px' }">
                                                    <div class="flex justify-end mt-6">
                                                        <div style="margin-right: 100px !important;"
                                                            class="font-semibold text-xl">Seleccionar Opciones :
                                                        </div>

                                                        <p-button label="Cerrar" icon="pi pi-times"
                                                            (onClick)="op2.hide()" class="mr-2" />
                                                        <p-button label="Guardar" icon="pi pi-save"
                                                            (onClick)="agregarToppingsPedido(pedidosnew,op2,i)"
                                                            severity="danger" />

                                                    </div>

                                                    <p-multiselect #multiselect [options]="multiselectToppings"
                                                        [(ngModel)]="selectedToppings" class="w-full mt-6"
                                                        placeholder="Seleccionar más de uno" optionLabel="nombre"
                                                        display="chip" [filter]="true">

                                                        <ng-template pTemplate="selectedItems" let-toppings>
                                                            @for (topping of toppings; track topping.idtopings) {
                                                            <div
                                                                class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                                                                <div>{{ topping.nombre }}</div>
                                                            </div>
                                                            }
                                                        </ng-template>

                                                        <ng-template pTemplate="item" let-topping>
                                                            <div class="flex items-center">
                                                                <div>{{ topping.nombre }}</div>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiselect>
                                                </p-popover>
                                                <p-toast />
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="text-right mt-4">
                            <h3>Total: S/{{ total() }}</h3>
                        </div>


                        <div class="text-right mt-4">
                            <input id="cliente" type="text" [(ngModel)]="NuevoPedido.cliente" pInputText
                                *ngIf="NuevoPedido.delivery == 1" style="width: 328px;margin-right: 61px !important;"
                                placeholder="Nombre del cliente (opcional)" required autofocus fluid />
                            <p-button [label]="tipomodal =='Registrar' ? 'REGISTRAR PEDIDO' : 'EDITAR PEDIDO'"
                                (click)="FunctionButtonPedido(NuevoPedido)" severity="success"
                                [style]="{'width': '207px','text-align': 'center' }" class="btn btn-success">
                            </p-button>
                        </div>

                        <textarea [(ngModel)]="comentarios" pTextarea placeholder="Mensaje de impresión en Cocina."
                            rows="3"></textarea>

                        <div class="input-group mt-4 modal-body">
                            <p-iconfield>
                                <p-inputicon styleClass="pi pi-search" />
                                <input pInputText type="text" name="plato" id="idplatotext"
                                    (keypress)="AddKeyPress($event,buscarPlato);"
                                    placeholder="Ingresar nombre del plato"
                                    class="h-10 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                                    [(ngModel)]="buscarPlato" />
                            </p-iconfield>

                        </div>
                        <div class="col-md-12 modal-body">
                            <div class="" style="overflow: scroll; height: 300px;">
                                <table class="table table-hover table-sm" id="listarPlatos">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal CALCULTOR-->
    <p-dialog [(visible)]="displayModalCalculator" [modal]="true" [style]="{width: '30vw'}">
        <div class="calculator rounded-2xl w-full max-w-md mx-auto p-6 relative" role="region"
            aria-label="Calculadora de pedido para restaurante">
            <h3>Calculadora de Pedidos</h3>
            <!-- <div id="display" class="display" aria-live="polite" aria-atomic="true">0</div> -->
            <input type="number" (keypress)="AddKeyPressCalculator($event,buscarPlato);" id="NumberLote"
                name="NumberLote" placeholder="Ingresa N°" [(ngModel)]="numeroPlato"
                class="display w-full text-center text-3xl p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 mb-6" />
            <div class="buttons">
                <button type="button" (click)="setNumbersSelectDashboard(1)">1</button>
                <button type="button" (click)="setNumbersSelectDashboard(2)">2</button>
                <button type="button" (click)="setNumbersSelectDashboard(3)">3</button>
                <button type="button" (click)="setNumbersSelectDashboard(4)">4</button>
                <button type="button" (click)="setNumbersSelectDashboard(5)">5</button>
                <button type="button" (click)="setNumbersSelectDashboard(6)">6</button>
                <button type="button" (click)="setNumbersSelectDashboard(7)">7</button>
                <button type="button" (click)="setNumbersSelectDashboard(8)">8</button>
                <button type="button" (click)="setNumbersSelectDashboard(9)">9</button>
                <button type="button" (click)="setNumbersSelectDashboard('clear')"><i
                        class="fa-regular fa-trash-can"></i></button>
                <button type="button" (click)="setNumbersSelectDashboard(0)">0</button>
                <button type="button" (click)="ListarPedidoNumeroCalculadora()">✓</button>
            </div>
        </div>
    </p-dialog>
</div>
<!-- Modal PDF COBRAR-->
<p-dialog [(visible)]="Cobrar_Dialog" [position]="'top'" header="Cobrar Pedido" [style]="{ width: '600px' }"
    [modal]="true" [draggable]="false" [resizable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="px-6 py-2 space-y-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
                <div>
                    <label for="efectivo" class="block text-sm font-medium text-gray-700">💵Efectivo</label>
                    <input id="efectivo" type="number" [(ngModel)]="Pedido_cobrar.efectivo"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
                <div>
                    <label for="visa" class="block text-sm font-medium text-gray-700">💳Visa</label>
                    <input id="visa" type="number" [(ngModel)]="Pedido_cobrar.visa"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
                <div>
                    <label for="yape" class="block text-sm font-medium text-gray-700">📱Yape</label>
                    <input id="yape" type="number" [(ngModel)]="Pedido_cobrar.yape"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
                <div>
                    <label for="plin" class="block text-sm font-medium text-gray-700">📱Plin</label>
                    <input id="plin" type="number" [(ngModel)]="Pedido_cobrar.plin"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
            </div>
            <div>
                <label for="total" class="block text-sm font-semibold text-gray-800">Total</label>
                <input id="total" type="number" disabled [(ngModel)]="NuevoPedido.total"
                    class="w-full mt-1 bg-gray-100 border border-gray-300 text-blue-600 font-bold text-lg rounded-md px-3 py-2 cursor-not-allowed" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-4 px-6 pb-4">
            <p-button styleClass="p-button-raised p-button-primary" icon="pi pi-save" label="Cobrar"
                (onClick)="CobrarPedido(NuevoPedido)">
            </p-button>

            <p-button styleClass="p-button-raised p-button-danger" icon="pi pi-times" label="Cancelar"
                (onClick)="hideDialog()">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<!-- Modal PDF CLIENTE-->
<p-dialog [position]="'top'" [(visible)]="PDF_Dialog" [style]="{ width: '500px', height: '880px'}"
    (onHide)="PDF_Dialog = false" [closeOnEscape]="true" header="Imprimir Cliente" [modal]="true" [draggable]="false"
    [resizable]="false" styleClass="p-fluid">
    <div class="pdf-container">
        <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="650px" frameborder="0"></iframe>
    </div>
    <ng-template pTemplate="footer">
        <p-button styleClass="p-button-raised p-button-danger" label="Cerrar" icon="pi pi-times"
            (onClick)="hideDialogPdf()" [style]="{'margin-left': '20px','margin-top': '55px;' }"></p-button>
    </ng-template>
</p-dialog>
<!-- Modal PDF COCINA-->

<p-dialog [position]="'top'" [(visible)]="CocinaPdf_Dialog" [style]="{ width: '500px', height: '880px'}"
    header="Imprimir Cocina" [modal]="true" [draggable]="false" [resizable]="false" styleClass="p-fluid">
    <div class="pdf-container">
        <!-- <iframe [src]="pdfUrl" [ngModel]="" width="100%" height="500px"></iframe>ç -->
    </div>
    <ng-template pTemplate="footer">
        <p-button styleClass="p-button-raised p-button-danger" label="Cerrar" icon="pi pi-times"
            (onClick)="hideDialogPdf()" [style]="{'margin-left': '20px','margin-top': '55px;' }"></p-button>
    </ng-template>
</p-dialog>
<!-- Modal PDF ELIMINAR PEDIDO-->

<p-dialog header="Eliminar Pedido" [modal]="true" [(visible)]="eliminarPedidoDialog" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-2">
        <label for="username" class="font-semibold w-24">Motivo:</label>
    </div>
    <textarea #motivoTextarea class="flex-auto" autocomplete="off" required [(ngModel)]="motivo"></textarea>
    <div class="flex items-center gap-4 mb-2">
        <label for="username" class="font-semibold w-24">Responsable:</label>
    </div>
    <textarea #responsableTextarea class="flex-auto" autocomplete="off" required [(ngModel)]="responsable"></textarea>

    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" (onClick)="deletePedido()" />

        <p-button styleClass="p-button-raised p-button-danger" label="Cerrar" icon="pi pi-times"
            (onClick)="hideDialogPdf()" [style]="{'margin-left': '20px','margin-top': '55px;' }"></p-button>
    </ng-template>
</p-dialog>
<!-- Modal PDF ESCOGER PEDIDO-->
<p-dialog header="PDF" [modal]="true" [(visible)]="imprimirPedidoDialog" [style]="{ width: '500px', height: '880px'}">
    <div class="container">
        <table class="table-auto w-full h-auto border-collapse border border-gray-400 text-center">
            <thead>
                <tr>
                    <th class="border border-gray-300">
                        <input type="checkbox" class="w-6 h-6" (change)="toggleTodos($event)" />
                    </th>
                    <th class="border border-gray-300">Cantidad</th>
                    <th class="border border-gray-300">Pedido</th>
                    <th class="border border-gray-300">Precio U.</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngIf="Pedidos?.length != 0">
                    <tr
                        *ngFor="let pedido of getPedidosDeMesa(mesaSeleccionada?.numero,pedido_mesa_status,mesaSeleccionada)">
                        <td class="">
                            <input type="checkbox" class="w-6 h-6" [(ngModel)]="pedido.seleccionado" />
                        </td>
                        <td>{{ pedido.cantidad }}</td>
                        <td>{{ pedido.nombre }}</td>
                        <td>{{ pedido.precioU }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
    <div class="flex justify-end mt-4">
        <p-button class="text-white font-bold py-2 px-4 " severity="danger" (click)="imprimirSeleccionados()">
            🖨️ Imprimir seleccionados
        </p-button>
    </div>
</p-dialog>


<p-confirmDialog [style]="{ width: '450px' }" />
